<section>
    <div class="headerContent">
        <div class="logo">
            <img src="./img/logo.svg" alt="">
        </div>
        <nav>
            <a [routerLink]="['/routePath']">Home</a>
            <a [routerLink]="['/routePath']">Shop</a>
            <a [routerLink]="['/routePath']">About</a>
            <a [routerLink]="['/routePath']">Contact</a>
        </nav>

        <div class="headerBtns">
            <button><img src="./icons/account.svg" alt=""></button>
            <button><img src="./icons/search.svg" alt=""></button>
            <button><img src="./icons/like.svg" alt=""></button>
            <button><img src="./icons/cart.svg" alt=""></button>
        </div>
    </div>
</section>