section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1920px;
    flex: 1;
}

.hero {
    min-width: 100%;
    height: 815.53px;
    background-image: url(./../../../public/img/hero.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroCtaContainer{
    min-width: 100%;
    max-width: 663px;
    height: 443px;
    background-color: var(--bg-color);
}